#map {
    height: 100%;
}
html, body{
    padding: 0;
    margin: 0;   
    height: 100%;
}
.activity{
	background-color: blue;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	padding: 10px;
	position: fixed;
}
#userPhotoDiv{
	display: inline-block;
	left: 1%;
	top: 5%;
	text-align: center;
}
#userProfileDiv{
	display: none;
	left: 1%;
	top: 5%;
	text-align: center;
}
#reviewsDiv{
    display: inline-block;
    left: 90%;
    top: 10%;
}
#beginCreationDiv{
	display: inline-block;
	left: 80%;
	top: 80%;
}
#actFormDiv{
	display: none;
	left: 70%;
	top: 70%;
}
#startSearchDiv{
	display: inline-block;
	left: 45%;
	top: 45%;
}
#searchDiv{
	display: none;
	left: 40%;
	top: 45%;
}
#restart{
	display: none;
	left: 10%;
	top: 80%;
}
.image10{
	width: 5%;
}
.image100{
	width: 10%;
}
.image{
	width: 100%;
	height: 100%;
}