<!DOCTYPE html>
<html>

<head>
	<title>Login/Register</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="{% static 'finder_app/css/index_style.css' %}">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>		
</head>

<body>
	
	<div class="rotate">
		<img class="mySlides" src="../static/finder_app/img/bar_img.png" >
		<img class="mySlides" src="../static/finder_app/img/parade.png" >
		<img class="mySlides" src="../static/finder_app/img/glass.png" >
	</div>
		
	<div id="main-wrapper">
		<div id="register-wrapper" style="float: right;">
				{% if messages %}
				<ul>
					{% for message in messages %}
					<li style="color: red;">{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			<form action="/process" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<h2>Register</h2>	
				<input type="hidden" id="Lat2" name="lat">
				<input type="hidden" id="Lng2" name="lng">
				<label for="first">First Name:<input type="text" name="first"></label>		
				<label for="last">Last Name:<input type="text" name="last"></label>
				<label for="username">Username:<input type="text" name="username"></label>
				<label for="email">Email:<input type="text" name="email"></label>
				<label for="phonenum">Phone Number:<input type="tel" name="phonenum" placeholder="ex: 2223334444"></label>
				<label for="dob">Date of Birth:<input type="date" class="datepicker" name="dob"></label>
				<label for="image">Profile Photo:<input type="file" name="image"></label><br><br>
				<label for="password">Password:<input type="password" name="password" class="password"></label>
				<label for="confirm">Confirm Password:<input type="password" name="confirm"></label>
				<button class="btn waves-effect waves-light" type="submit" name="action" value="Register" style="float: right;">Register
					<i class="material-icons right"></i>
				</button>
			</form>
		</div>

		<div id="login-wrapper" style="float: right;">
				<img class="finder_img" src="../static/finder_app/img/finder.png" alt="logo">
			<form action="/login" method="post">
				{% csrf_token %}
				<h2>Login</h2>
				<input type="hidden" id="Lat1" name="lat">
				<input type="hidden" id="Lng1" name="lng">
				<label for="logusername">Username:<input type="text" name="logusername"></label>
				<label for="logpassword">Password:<input type="password" name="logpassword"></label>
				<!-- <input type="submit" value="Login" style="float: right;">	 -->
				<button class="btn waves-effect waves-light" type="submit" name="action" value="Login" style="float: right;">Login
					<i class="material-icons right"></i>
				</button>
			</form>
			<div class="text-box">
				<h3>Welcome to <span class="green-color">Finder</span>!</h3>
				<h4 class="purple-color">Your source to find that next activity or event!</h4>
				<p>Finder is an activity app to create and search for activities happening around your area. Finder is a great way to meet new people, find activities and events you will enjoy.</p>
			</div>
			<div>
				<a href="#"><img class="social" src="../static/finder_app/img/facebook.png" target="facebook" alt="facebook"></a>
				<a href="#"><img class="social" src="../static/finder_app/img/twitter.png" target="twitter" alt="twitter"></a>
			</div>
		</div>
	</div>
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
		var myIndex = 0;
		carousel();
		
		function carousel() {
			var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
			   x[i].style.display = "none";  
			}
			myIndex++;
			if (myIndex > x.length) {myIndex = 1}    
			x[myIndex-1].style.display = "block";  
			setTimeout(carousel, 5000);
		}
		function getUserLocation(){
        	navigator.geolocation.getCurrentPosition(showUserPosition);
            }
        function showUserPosition(position){
			var lat = position.coords.latitude;
			document.getElementById("Lat1").value = lat;
			document.getElementById("Lat2").value = lat;
			var lng = position.coords.longitude;
			document.getElementById("Lng1").value = lng;
			document.getElementById("Lng2").value = lng;
		}
		$(document).ready(function(){
			getUserLocation();
		})
		</script>
</body>

</html>