<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}
    <link rel="stylesheet" href="{% static 'finder_app/css/map_style.css' %}">
    <!-- jquery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>MainMap</title>
</head>

<body>
    <div id='map'></div>
    <div class='activity image10' id='userPhotoDiv'>
        <img class="image" src="{{ user.photo.url }}">
    </div>
    <div class="activity image100 card-body" id='userProfileDiv'>
        <img class="image" src="{{ user.photo.url }}">
        <h2>{{ user.username }}</h2>
        <h4>{{ user.first_name }} &nbsp; {{  user.last_name }}</h4>
        <p>Your Rating: {{ dashrating }}</p>
        {% if user.joined_activities.all %}
        <p>Joined {{ user.joined_activities.all.count }} activities:</p>
        {% for each in user.joined_activities.all %}
        <p>You've joined a(n) {{each.category.name}} activity</p>
        <a href="leave_activity/{{each.id}}">Leave</a>
        {% endfor %}
        {% endif %}

        {% if user.created_activity %}
        <p>You've started a(n) {{user.created_activity.category.name}} activity at {{user.created_activity.created_at}}</p>
        {% if user.created_activity.joined_users.all %}
        <p>Joined users:</p>
        {% for each in user.created_activity.joined_users.all %}
        <p>{{each.first_name}}&nbsp;{{each.last_name}}</p>
        {% endfor %}
        {% endif %}
        <a href="delete_activity/{{user.created_activity.id}}">End activity</a>
        {% endif %}
        <!--  from here -->
        <h3><a id="mymessages" href="#">Messages</a></h3> <!-- Quan please remove styling from html and add it into css thanks apreciate you!-->
        <!--to here-->
        <br>
        <a href="/logout">Logout</a>
    </div>
    <!-- Quan please remove styling from html and add it into css thanks apreciate you!-->
    <div id="displaymymsg" style="border: 2px solid black; min-height: 100px; min-width: 100px; left: 1%; top: 20%; position: fixed; text-align: center; background-color: silver; display: none;">
        {% for i in groupedmsg %}
        <div>
            <p id="viewmsg">
                <a href="/write_message/{{ i.written_by.id }}">{{ i.written_by.first_name }}&nbsp;{{ i.written_by.last_name }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
    {% if msgcheck == True %}
    <div class="messages" style=" position: fixed; left: 20%; top: 20%; background-color: silver;">
        <form action="/closeMessages">
        <input type="submit" value="close">
        </form>
        <div class="displaymsg" style="width: 375px; height: 400px; overflow-y: scroll;">
            {% for msg in allmsg %}
            <div>
                <p style="display: inline-block;">{% if msg.written_by != user %}{{ msg.written_by.first_name }}:{% endif %} </p>
                <div style="display: inline-block; vertical-align: top; background-color: green; min-height: 50px; margin-top: 10px; width: 150px; border-radius: 5px; margin-left: 15px;">
                    <p style="display: inline-block; margin-left: 5px;">{{ msg.message }}</p>
                </div>
                <p style="font-size: 8px; display: inline-block;">{{ msg.created_at }}</p>
            </div>
            {% endfor %}
        </div>
        <form class="submitmsg" action="/processMessage" method="post" style="text-align: center; margin-top: 10px; margin-bottom: 5px;">
            {% csrf_token %}
            <textarea class="textarea" name="message" style="width: 250px; min-height: 50px; display: inline-block; vertical-align: middle;"></textarea>
            <input style="display: inline-block;" type="submit" name="send" value="Send">
        </form>
    </div>
    {% endif %}
    <!-- to here -->
    <button id="startSearchDiv" type="button" class="activity btn btn-info-lg"><strong><h3>Find events around you</h3></strong></button>
	<div class='activity' id="searchDiv">
		<form action="/activity/search" method="post" id="searchForm">
			{% csrf_token %}
			Activity you are interested in:
			<select name="categoryId">
				{% for category in categories %}
					<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
			</select>
			<input class="search-btn" type="submit" value="Search">
		</form>
	</div>
    <button id="restart" type="button" class="activity btn btn-info-lg"><strong>Search</strong></button>
    <button id='beginCreationDiv' type="button" class="activity btn btn-info-l"><strong>Create an activity</strong></button>
	<div class='activity' id='actFormDiv'>
	<form action="/activity/register" method="post" id="activityForm">
		{% csrf_token %}
		<table>
			<tr>
				<td>Choose category of activity:</td>
				<td>
					<select class="cate" name="categoryId">
						{% for category in categories %}
							<option value="{{ category.id }}">{{ category.name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Or add a new Category:</td>
				<td><input type="text" name="newCategory"></td>
			</tr>
			<tr>
				<td>Description of Event:</td>
				<td><textarea name="desc"></textarea></td>
            </tr>
            <tr>
                <td>How many people can come:</td>
                <td><input type="text" name="max_users"></td>
            </tr>
            <tr>
                <td>Duration of Event:</td>
                <td><input type="text" name="duration" placeholder="HH:MM"></td>
            </tr>
            <tr>
                <td>Where:</td>
                <td><input type="text" name="where"></td>
            </tr>
			<tr>
				<td></td>
				<td><input class="search-btn" type="submit" id="submitButton" value="Post Activity" style="float: right;"></td>
			</tr>
		</table>
		<input type="hidden" name="actLat" id="actLat">
		<input type="hidden" name="actLng" id="actLng">
		<input type="hidden" name="activeUser" value="{{ user.id }}">		
	</form>
    </div>
    
    {% if request.session.view_review_id %}
    <div class="activity" id="reviewsDiv"> 
        {% for review in reviews %}
            <h3>Written by {{ review.written_by.first_name }} &nbsp; {{ review.written_by.last_name }}</h3>
            <p>Rating: {{review.rating}}</p>
            <p>Comment: {{ review.comment }}</p>
        {% endfor %}
        <form action="leave_review/{{ request.session.view_review_id }}" method="post">
            {% csrf_token %} 
            <input type="hidden" name="reviewingUser" value="{{ request.session.user_id }}"> 
            <select name="rating">
                <option value="5">5</option> 
                <option value="4">4</option> 
                <option value="3">3</option> 
                <option value="2">2</option> 
                <option value="1">1</option> 
            </select> 
            <input type="text" name="comment"> 
            <input type="submit" value="Submit Review"> 
        </form> 
        <form action=/close_review method="POST">
            {% csrf_token %}
            <input type="submit" value="Exit reviews"> 
        </form>
    </div>
    {% endif %}
    <!-- from here -->
    <script>
        $(document).ready(function () {
            $('.submitmsg').submit(function (e) {
                var that = this
                e.preventDefault()
                $.ajax({
                    url: $(this).attr('action'),
                    method: 'post',
                    data: $(this).serialize(),
                    success: function (serverResponse) {
                    }
                });
                that.reset();
            });
            if ($(".messages").is(':visible')) {
                setInterval(function () {
                    $('.displaymsg').load(location.href + " .displaymsg>*", "");
                    $(".displaymsg").scrollTop($(".displaymsg")[0].scrollHeight);
                }, 6000)
            }
            $('#mymessages').click(function () {
                $('#displaymymsg').slideToggle();
            });
        });
    </script>
    <!-- to here -->

    <script>
        function getUserLocation(){
        navigator.geolocation.getCurrentPosition(showUserPosition);
            }
            function showUserPosition(position){
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
            }
        function getSearchLocation(){
				navigator.geolocation.getCurrentPosition(showUserPosition);
				}
				function showUserPosition(position){
					var lat = position.coords.latitude;
					document.getElementById("Lat").value = lat;
					var lng = position.coords.longitude;
					document.getElementById("Lng").value = lng;
				}
		function getActivityLocation(){
				navigator.geolocation.getCurrentPosition(showActPosition);
				}
				function showActPosition(position){
					var lat = position.coords.latitude;
					document.getElementById("actLat").value = lat;
					var lng = position.coords.longitude;
					document.getElementById("actLng").value = lng;
				}
		$(document).ready(function(){
            if ('{{ request.session.searchID }}'.length){
                $('#searchDiv').css('display','none');
                $('#startSearchDiv').css('display','none');
                $('#restart').css('display','inline-block');
            }
			$('#beginCreationDiv').click(function(){
				$('#beginCreationDiv').fadeToggle();
				$('#actFormDiv').fadeToggle(function(){
					if ($(this).is(':visible'))
        			$(this).css('display','inline-block');
				});
				if ($('#searchDiv').is(':visible')){
        			$('#startSearchDiv').fadeToggle();
        			$('#searchDiv').fadeToggle();}
        		getActivityLocation();	
			});
            $('#userPhotoDiv').click(function(){
                $('#userPhotoDiv').fadeToggle();
                $('#userProfileDiv').fadeToggle();
            });
            $('#userProfileDiv').click(function(){
                $('#userPhotoDiv').fadeToggle();
                $('#userProfileDiv').fadeToggle();
            });
			$('#startSearchDiv').click(function(){
				$('#startSearchDiv').fadeToggle();
				$('#searchDiv').fadeToggle(function(){
					if ($(this).is(':visible'))
        			$(this).css('display','inline-block');
        		});
        		if ($('#actFormDiv').is(':visible')){
        			$('#beginCreationDiv').fadeToggle();
        			$('#actFormDiv').fadeToggle();}
        		getSearchLocation();	
			});
			$('#restart').click(function(){
				$('#restart').fadeToggle();
				$('#searchDiv').fadeToggle();
				$('#map').load('/clearSearch')
			});
		})
        </script>
    <script type="text/javascript">

        // Escapes HTML characters in a template literal string, to prevent XSS.
        function sanitizeHTML(strings) {
            const entities = { '&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&quot;', "'": '&#39;' };
            let result = strings[0];
            for (let i = 1; i < arguments.length; i++) {
                result += String(arguments[i]).replace(/[&<>'"]/g, (char) => {
                    return entities[char];
                });
                result += strings[i];
            }
            return result;
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                //initial location and zoom
                center: { lat: parseFloat("{{request.session.lat}}"), lng: parseFloat("{{request.session.lng}}") },
                zoom: 10,
                styles: mapStyle
            });
            //description for users
            const infoWindow = new google.maps.InfoWindow();
            infoWindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) });

            //markers
            var markers = locations.map(function (location, id) {
                var markers_id = ids[id % ids.length]
                var marker = new google.maps.Marker({
                    position: location,
                    icon: "{% static 'finder_app/img/user.png' %}",
                });
                //show the info when clicked
                marker.addListener('click', function() {
                const picture = pictures[markers_id]
	            const rating = ratings[markers_id]
	            const rating_link = rating_links[markers_id]
	            const name = names[markers_id]
	            const username = usernames[markers_id]
	            const category = categories[markers_id]
	            const description = descriptions[markers_id]
	            const where = wheres[markers_id]
	            const start = starts[markers_id]
	            const end = ends[markers_id]
	            const joined = joineds[markers_id]
	            const max_user = max_users[markers_id]
	            const join_link = join_links[markers_id]
	            const join_message = join_messages[markers_id]
	            const message_link = message_links[markers_id] 
                const content = sanitizeHTML`
                <img src="${picture}">
                <p><a href="${rating_link}" class="rating_link">Rating:&nbsp;${rating}</a></p>
                <h4>${name}&nbsp;(${username})</h4>
                <p style="font-weight: bold">${category}:</p>
                <p>${description}</p>
                <p style="font-weight: bold">Where: ${where}</p>
                <table>
                    <tr>
                        <td>Started:</td>
                        <td>${start}</td>
                    </tr>
                    <tr>
                        <td>Ends:</td>
                        <td>${end}</td>
                    </tr>
                </table>
                <p>Joined:&nbsp;${joined}/${max_user}&nbsp;&nbsp;&nbsp;<a href="${join_link}">${join_message}</a></p>
                <p class="newMessage"><a href="${message_link}">Write a message</a></p>
                `
                infoWindow.setContent(content);
                infoWindow.setPosition(location);
                infoWindow.open(map);
                });
                return marker
            });

            //clusters
            var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/images/m' });
        }
        // map style
        // Style credit: https://snazzymaps.com/style/1/pale-dawn
        const mapStyle = [
            {
                "featureType": "administrative",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "lightness": 33
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2e5d4"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#c5dac6"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#c5c6c6"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e4d7c6"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#fbfaf7"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#acbcc9"
                    }
                ]
            }
        ];
        //transforming the passed strings into arrays
        var passed_lat = '{{lat}}'
        var passed_lng = '{{lng}}'
        var passed_pictures = '{{pictures}}'
        var passed_rating = '{{rating}}'
        var passed_rating_links = '{{rating_links}}'
        var passed_names = '{{names}}'
        var passed_username = '{{usernames}}'
        var passed_categories = '{{category_names}}'
        var passed_descriptions = '{{descriptions}}'
        var passed_wheres = '{{wheres}}'
        var passed_starts = '{{starts}}'
        var passed_ends = '{{ends}}'
        var passed_joineds = '{{joineds}}'
        var passed_max_users = '{{max_users}}'
        var passed_join_links = '{{join_links}}'
        var passed_join_messages = '{{join_messages}}'
        var passed_message_links = '{{message_links}}'
        passed_rating = passed_rating.substring(1, passed_rating.length - 1)
        var lat = passed_lat.split(",");
        var lng = passed_lng.split(",");
        var pictures = passed_pictures.split(",");
	    var ratings = passed_rating.split(", ");
	    var rating_links = passed_rating_links.split(",");
	    var names = passed_names.split(",");
	    var usernames = passed_username.split(",");
	    var categories = passed_categories.split(",");
	    var descriptions = passed_descriptions.split(",");
	    var wheres = passed_wheres.split(",");
	    var starts = passed_starts.split(",");
	    var ends = passed_ends.split(",");
	    var joineds = passed_joineds.split(",");
	    var max_users = passed_max_users.split(",");
	    var join_links = passed_join_links.split(",");
	    var join_messages = passed_join_messages.split(",");
	    var message_links = passed_message_links.split(",");
        //creating the activities locations
        var locations = []
        var ids = []
        for (var i = 0; i < lat.length; i++) {
            locations.push({ lat: parseFloat(lat[i]), lng: parseFloat(lng[i]) })
            ids.push(i)
        }
        //-----------------------------------
    </script>
    <!-- cluster api -->
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js">
    </script>
    <!-- maps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIYyxkvanrHlRUIWgI1aGZSPs4HY974q8&callback=initMap" async
        defer></script>
    
</body>

</html>