<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% load static %}
    <link rel="stylesheet" href="{% static 'finder_app/css/map_style.css' %}">
    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>MainMap</title>
</head>

<body>
    <div id='map'></div>
    <div class='activity image10' id='userPhotoDiv'>
        <img class="image" src="{{ user.photo.url }}">
    </div>
    <div class="activity image100" id='userProfileDiv'>
        <img class="image" src="{{ user.photo.url }}">
        <h2>{{ user.username }}</h2>
        <h4>{{ user.first_name }} &nbsp; {{  user.last_name }}</h4>
        <p>{{ user.dob }}</p>
        <a href="/logout">Logout</a>
    </div>
    <div class='activity' id="startSearchDiv">
		<u>Look for event where you are</u>
	</div>
	<div class='activity' id="searchDiv">
		<form action="/activity/search" method="post" id="searchForm">
			{% csrf_token %}
			<input type="hidden" name="Lat" id="Lat">
			<input type="hidden" name="Lng" id="Lng">
			Activity you are interested in:
			<select name="categoryId">
				{% for category in categories %}
					<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Search">
		</form>
	</div>
	<div class="activity" id="restart">
		<u>Search again</u>
	</div>
	<div class='activity' id='beginCreationDiv'>
		<u>Let people know what you are doing</u>
	</div>
	<div class='activity' id='actFormDiv'>
	<form action="/activity/register" method="post" id="activityForm">
		{% csrf_token %}
		<table>
			<tr>
				<td>Choose category of activity:</td>
				<td>
					<select name="categoryId">
						{% for category in categories %}
							<option value="{{ category.id }}">{{ category.name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Or add a new Category:</td>
				<td><input type="text" name="newCategory"></td>
			</tr>
			<tr>
				<td>Description of Event:</td>
				<td><textarea name="desc"></textarea></td>
            </tr>
            <tr>
                <td>How many people can come:</td>
                <td><input type="text" name="max_users"></td>
            </tr>
            <tr>
                <td>Duration of Event:</td>
                <td><input type="text" name="duration" placeholder="HH:MM"></td>
            </tr>
            <tr>
                <td>What to look for:</td>
                <td><input type="text" name="where"></td>
            </tr>
			<tr>
				<td></td>
				<td><input type="submit" id="submitButton" value="Post Activity"></td>
			</tr>
		</table>
		<input type="hidden" name="actLat" id="actLat">
		<input type="hidden" name="actLng" id="actLng">
		<input type="hidden" name="activeUser" value="{{ user.id }}">		
	</form>
	{% if messages %}
		I got here
		<ul class="messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	</div>

    <script>
        function getUserLocation(){
        navigator.geolocation.getCurrentPosition(showUserPosition);
            }
            function showUserPosition(position){
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
            }
        function getSearchLocation(){
				navigator.geolocation.getCurrentPosition(showUserPosition);
				}
				function showUserPosition(position){
					var lat = position.coords.latitude;
					document.getElementById("Lat").value = lat;
					var lng = position.coords.longitude;
					document.getElementById("Lng").value = lng;
				}
		function getActivityLocation(){
				navigator.geolocation.getCurrentPosition(showActPosition);
				}
				function showActPosition(position){
					var lat = position.coords.latitude;
					document.getElementById("actLat").value = lat;
					var lng = position.coords.longitude;
					document.getElementById("actLng").value = lng;
				}
		$(document).ready(function(){
			$('#beginCreationDiv').click(function(){
				$('#beginCreationDiv').slideToggle();
				$('#actFormDiv').slideToggle(function(){
					if ($(this).is(':visible'))
        			$(this).css('display','inline-block');
				});
				if ($('#searchDiv').is(':visible')){
        			$('#startSearchDiv').slideToggle();
        			$('#searchDiv').slideToggle();}
        		getActivityLocation();	
			});
            $('#userPhotoDiv').click(function(){
                $('#userPhotoDiv').slideToggle();
                $('#userProfileDiv').slideToggle();
            });
            $('#userProfileDiv').click(function(){
                $('#userPhotoDiv').slideToggle();
                $('#userProfileDiv').slideToggle();
            });
			$('#activityForm').submit(function(e){
				e.preventDefault()
				$('#beginCreationDiv').slideToggle();
				$('#actFormDiv').slideToggle();
				$.ajax({
					url: $(this).attr('action'),
					method: 'post',
					data: $(this).serialize(),
					success: function(serverResponse){
					}
				})
				document.getElementById("actLat").value = 0;
				document.getElementById("actLng").value = 0;
			});
			$('#startSearchDiv').click(function(){
				$('#startSearchDiv').slideToggle();
				$('#searchDiv').slideToggle(function(){
					if ($(this).is(':visible'))
        			$(this).css('display','inline-block');
        		});
        		if ($('#actFormDiv').is(':visible')){
        			$('#beginCreationDiv').slideToggle();
        			$('#actFormDiv').slideToggle();}
        		getSearchLocation();	
			});
			$('#searchForm').submit(function(e){
				e.preventDefault()
				$('#restart').slideToggle();
				$('#searchDiv').slideToggle();
				$.ajax({
					url: $(this).attr('action'),
					method: 'post',
					data: $(this).serialize(),
					success: function(serverResponse){
					}
				})
				document.getElementById("Lat").value = 0;
				document.getElementById("Lng").value = 0;
			});
			$('#restart').click(function(){
				$('#restart').slideToggle();
				$('#searchDiv').slideToggle();
				getSearchLocation();
			});
		})
        </script>
    <script type="text/javascript">

        // Escapes HTML characters in a template literal string, to prevent XSS.
        function sanitizeHTML(strings) {
            const entities = { '&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&quot;', "'": '&#39;' };
            let result = strings[0];
            for (let i = 1; i < arguments.length; i++) {
                result += String(arguments[i]).replace(/[&<>'"]/g, (char) => {
                    return entities[char];
                });
                result += strings[i];
            }
            return result;
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                //initial location and zoom
                center: { lat: 47.621948, lng: -122.212865 },
                zoom: 10,
                styles: mapStyle
            });
            //description for users
            const infoWindow = new google.maps.InfoWindow();
            infoWindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) });

            //markers
            var markers = locations.map(function (location, id) {
                var markers_id = ids[id % ids.length]
                var marker = new google.maps.Marker({
                    position: location,
                    icon: "{% static 'finder_app/img/user.png' %}",
                });
                //show the info when clicked
                marker.addListener('click', function() {
                const picture = pictures[markers_id]
	            const rating = ratings[markers_id]
	            const rating_link = rating_links[markers_id]
	            const name = names[markers_id]
	            const username = usernames[markers_id]
	            const category = categories[markers_id]
	            const description = descriptions[markers_id]
	            const where = wheres[markers_id]
	            const start = starts[markers_id]
	            const end = ends[markers_id]
	            const joined = joineds[markers_id]
	            const max_user = max_users[markers_id]
	            const join_link = join_links[markers_id]
	            const leave_link = leave_links[markers_id]
	            const message_link = message_links[markers_id] 
                const content = sanitizeHTML`
                <img src="${picture}">
                <p><a href="${rating_link}">Rating:&nbsp;${rating}</a></p>
                <h4>${name}&nbsp;(${username})</h4>
                <p style="font-weight: bold">${category}:</p>
                <p>${description}</p>
                <p style="font-weight: bold">Where: ${where}</p>
                <table>
                    <tr>
                        <td>Started:</td>
                        <td>${start}</td>
                    </tr>
                    <tr>
                        <td>Ends:</td>
                        <td>${end}</td>
                    </tr>
                </table>
                <p>Joined:&nbsp;${joined}/${max_user}&nbsp;&nbsp;&nbsp;<a href="${join_link}">Join</a>&nbsp;/&nbsp;<a href="${leave_link}">Leave</a></p>
                <p><a href="${message_link}">Write a message</a></p>
                `
                infoWindow.setContent(content);
                infoWindow.setPosition(location);
                infoWindow.open(map);
                });
                return marker
            });

            //clusters
            var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/images/m' });
        }
        // map style
        // Style credit: https://snazzymaps.com/style/1/pale-dawn
        const mapStyle = [
            {
                "featureType": "administrative",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "lightness": 33
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#f2e5d4"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#c5dac6"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#c5c6c6"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e4d7c6"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#fbfaf7"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#acbcc9"
                    }
                ]
            }
        ];
        //transforming the passed strings into arrays
        var passed_lat = '{{lat}}'
        var passed_lng = '{{lng}}'
        var passed_pictures = '{{pictures}}'
        var passed_rating = '{{rating}}'
        var passed_rating_links = '{{rating_links}}'
        var passed_names = '{{names}}'
        var passed_username = '{{usernames}}'
        var passed_categories = '{{category_names}}'
        var passed_descriptions = '{{descriptions}}'
        var passed_wheres = '{{wheres}}'
        var passed_starts = '{{starts}}'
        var passed_ends = '{{ends}}'
        var passed_joineds = '{{joineds}}'
        var passed_max_users = '{{max_users}}'
        var passed_join_links = '{{join_links}}'
        var passed_leave_links = '{{leave_links}}'
        var passed_message_links = '{{message_links}}'
        passed_rating = passed_rating.substring(1, passed_rating.length - 1)
        var lat = passed_lat.split(",");
        var lng = passed_lng.split(",");
        var pictures = passed_pictures.split(",");
	    var ratings = passed_rating.split(", ");
	    var rating_links = passed_rating_links.split(",");
	    var names = passed_names.split(",");
	    var usernames = passed_username.split(",");
	    var categories = passed_categories.split(",");
	    var descriptions = passed_descriptions.split(",");
	    var wheres = passed_wheres.split(",");
	    var starts = passed_starts.split(",");
	    var ends = passed_ends.split(",");
	    var joineds = passed_joineds.split(",");
	    var max_users = passed_max_users.split(",");
	    var join_links = passed_join_links.split(",");
	    var leave_links = passed_leave_links.split(",");
	    var message_links = passed_message_links.split(",");
        //creating the activities locations
        var locations = []
        var ids = []
        for (var i = 0; i < lat.length; i++) {
            locations.push({ lat: parseFloat(lat[i]), lng: parseFloat(lng[i]) })
            ids.push(i)
        }
        //-----------------------------------
    </script>
    <!-- cluster api -->
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js">
    </script>
    <!-- maps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIYyxkvanrHlRUIWgI1aGZSPs4HY974q8&callback=initMap" async
        defer></script>
    
</body>

</html>